body {
    background-image: url("../assets/images/pixel.jpg");
    background-size: cover;
    font-family: "Libertinus Sans", sans-serif;
    background-color: lightslategray;
}

h1 {
    font-family: "Playwrite AU NSW", sans-serif;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    list-style-image: url("../assets/images/Bell1_12px.png");
    text-align: left;
    padding-left: 200px;
}

.link-list {
    list-style-type: circle;
    list-style-position: inside;
    list-style-image: url("../assets/images/Bell1_12px.png");
    text-align: left;
    padding-left: 175px;
}

header, main { 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
    background-color: aliceblue;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:darkslategray;
}

main {
    padding-top: 10px;
}

hr{
    max-width: 400px;
}

h1 {
    padding-top: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a, a:visited, a:hover, a:active {
    color: darkslategray;
}