body {
    background-image: ../assets/images/snowy banner gif.gif
    font-family: Libertinus Sans
}

#everything { 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
    background-color: aliceblue;
    text-align: center;
    padding: 20px
}
